.nav-item {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-alignment: CENTER-LEFT;
    -fx-graphic-text-gap: 16px;
}

.bg-color-white {
    -fx-background-color: #fff;
}

.sign-out-button {
    -fx-background-color: #245c90;
    -fx-cursor: hand;
}

.sign-out-button:hover {
    -fx-background-color: #197bd0;
}

.sign-out-text {
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
}

.top-card {
    -fx-background-color: linear-gradient(to right, #336394, #092440);
}

.shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0.5, 0, 5);
}

.bottom-panel {
    -fx-border-width: 0.5px;
    -fx-border-color: #000;
    -fx-border-style: solid;
    -fx-border-radius: 10;

}